**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
*_override.tf
*_override.tf.json
override.tf
override.tf.json
*.tfplan
.DS_Store
.env
.idea/
.vscode/
*.swp
*.swo